// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content {
    margin-top: 6rem;
    margin-left: 1rem;
}

.sidebar {
    display: none;
}

@include media-breakpoint-up(md) {
    .content {
        margin-left: 15rem;
    }
    
    .sidebar {
        display: block;
    }
}